*{
    padding: 0px;
    margin: 0px;
}

/* .container{
    height: 100%;
    width: 100%;
    background-color: green;
    -webkit-clip-path: polygon(0 0, 100% 0%, 43% 100%, 0% 100%);
clip-path: polygon(0 0, 100% 0%, 43% 100%, 0% 100%);
} */

.container{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row-reverse;
}